<script type="text/javascript">
  $( document ).ready(function() {
    $('#header').css('height','600px');
    $('#navegation').css('height','33px');
    $('.separador2').css('margin-top','0px');
    $('.separador2').css('position','relative');
    $('.separador2').css('top','-32px');
    $('.bloque').css('top','-43px');
  });
</script>

<!-- jQuery maneja este div para cambiar las imagenes y contenidos del slidershow -->
<div id="headerimgs">
  <div id="headerimg1" class="headerimg"></div>
  <div id="headerimg2" class="headerimg"></div>
</div>

<!-- Slideshow controladores -->
<div id="headernav-outer">
  <div id="headernav">
    <div id="back" class="btn1"></div>
    <div id="control" class="btn1"></div>
    <div id="next" class="btn1"></div>
  </div>
</div>
<!-- Escritos del Slidershow -->
<div id="headertxt">
  <p class="caption">
    <span id="firstline"></span>
    <a href="#" id="secondline"></a>
  </p>
  <p class="pictured">
    <a href="#" id="pictureduri"></a>
  </p>
</div>

<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= @modulo == 'reserva' ? "Reserva" : "Futbolada" %> Éxitosa</h3>
	</div>
	
  <div class="modal-body">
		<div id="confirmacion" style="color:#090">           
      <center><h5 id="aviso">Entre en 'Mi Cuenta' (botón que se encuentra en la parte superior derecha de su pantalla) para ver su historial de <%= @modulo == 'reserva' ? "Reservaciones" : "Futboladas" %></h5></center>
		</div>
	</div>
  
  <div class="modal-footer">
  </div>
</div>