<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<div id="escrito">
    <legend><h1>¿Quiénes somos?</h1></legend>
        <h3> Introducción </h3>
        
        <p>Paraguana Sport Park es un complejo deportivo para la familia que cuenta con las
            mejores instalaciones de ultima tecnologia y los mejores servicios del Mercado. Mas de
            1,500 mts2 de grama artificial para alquilar con modalidad de 2 canchas Futsal o centro
            de entrenamiento, complementado con un Bar/Restaurant, Pared de escalar, centro de
        
            <%= image_tag "render.png",  :width => "300", :style => "margin:10px;float:right;" %>
        
            fiestas, tienda deportiva, todo esto y mucho mas ubicado en el Centro Comercial mas
            grande de la region.</p>

		

		<p>El Centro Comercial las Virtudes recibe mas de 4 Millones de visitas anuales con su
            amplio estacionamiento recibe un aproximado de 4 mil carros diarios. El Paraguana Sport
            Park esta ubicado en la entrada principal del centro comercial a 50 mts de Arturos, 75 mts
            de Farmatodo y 100 mts de Mcdonalds.</p>

        <h3> ¿Quienes somos? </h3>
        
       	<p>Somos un grupo de jóvenes deportistas comprometidos con el desarrollo del deporte en Venezuela. Queremos crear alternativas  para el esparcimiento de la familia venezolana que sirvan como punto de encuentro de la comunidad
        Queremos apoyar el desarrollo del Estado Falcón y ss por ello que hemos desarrollado una alianza estratégica con el equipo de fútbol profesional Unión Atlético Falcón. Junto a ellos queremos fomentar el deporte para todas las edades, géneros y situación económica. <br /><br />Queremos apoyar el desarrollo del Estado Falcón y ss por ello que hemos desarrollado una alianza estratégica con el equipo de fútbol profesional Unión Atlético Falcón. Junto a ellos queremos fomentar el deporte para todas las edades, géneros y situación económica. <br /><br />

        Queremos convertirnos en el mejor complejo deportivo para la familia que cuente con las mejores instalaciones de ultima tecnología y los mejores servicios del mercado.  </p>            
        
        <h3> Nuestra Propuesta: </h3>
      
		<p>Queremos aliarnos con ustedes por ser empresa reconocida, comprometida con el pais y 
            muy vinculada al deporte nacional para entre otras cosas unir fuerzas y catapultar el 
            desarrollo de venezolanos deportistas con instalaciones de ultima tecnologia y servicios 
            insuperables.</p>
</div>
