@charset "utf-8";

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}



/* HTML ELEMENTS */
body { background-color:#1b2940; font:80% 'Source Sans Pro', serif; letter-spacing:1; }

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#header { height:158px; }
.headerimg {
	top:0px;
	left:0px;
	background-position: center top;
	background-repeat: no-repeat;
	width:100%;
	height:600px;
	position:absolute;
}

/* Identification */
#logo{
	top : 10px;
	position: relative;
}

#nav-outer { 
	height: 110px;
	padding-bottom: 11px;
	position: relative;
	top: 0px;
	background-image:url("headerbg.png");
}

#publicidad {
	float:right;
	width:400px;
	height: 428px;
	position: relative;
	margin-top: 5px;
	background-image:url("headerbg.png");
}

#Identification { 
	height:100px; 
	width:960px; 
	margin:0 auto; 
	background-position:top left; 
	background-repeat:no-repeat;
}

/* SEARCH */
#search { background-color:#051733; float:right; width:220px; padding:10px; }
#searchtxt { padding:3px; width:150px; }
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

/* MENU */
#menu { position:relative; top:85px; }
#menu ul { list-style:none; }
#menu ul li { display:inline; font-variant:small-caps; font-size:12px; }
#menu ul li a { color:white; text-decoration:none; font-weight:bold; padding-right:20px; }
#menu ul li a:hover { text-decoration:underline; }

/* HEADER TEXT */
#headertxt {
	width:960px;
	margin:0 auto;
	clear:both;
	position:absolute;
	top:205px;
}

#firstline { 
	background-image:url("textbg.png"); 
	color:#67c700; 
	font-size:40px; 
	padding:4px 13px 7px; 
	float:left; 
	display:block; 
}

#secondline { 
	background-image:url("textbg.png"); 
	color:#000 !important; 
	text-decoration:none; 
	font-size:20px; 
	padding:0 13px 10px; 
	float:left; 
	display:block; 
	clear:both; 
}

.pictured {
	position:relative;
	top:10px;
	background-color:#203a54; 
	color:#FFF; font-size:12px; 
	padding:9px 16px; 
	text-transform:uppercase; 
	float:left; display:block; 
	clear:both; margin-top:10px;
}

.caption {
	position:relative;
	left:-20px;
}

.pictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF !important; text-decoration:none; }
.pictured a:hover { text-decoration:underline; }

/* CONTROLS */
.btn1 { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("btn_back.png"); }
#next { background-image:url("btn_next.png"); }
#control { background-image:url("btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer {
	position:relative;
	top:-45px;
	margin:0 auto;
	width:960px;
}

#headernav {
	padding-left:864px;
}

/* CONTENT */
#content {
	color:#575757;
}

#content p  {  
	padding:10px 20px; 
	font-size:13px;
	margin:0 auto;
}

#content li  {   
	font-size:13px;
	margin-left: 5px;
}

#content p a {
	text-decoration:none;
	color:#CD2B3A;
}

#content p a:hover {
	text-decoration:underline;
	color:#7F000C;
}

#loginArea {
	height: 30px;
	width: 100%;
	background-color: #000;
	float:left;
	padding: 3px;
}
#Identification #desc {
	float: left;
	height: 100px;
	width: 300px;
	padding-left: 30px;
	margin-top: 5px; 
}

#Identification h1 {
	float:left;
	font-size:37px;
	color: #67c700;
}

#Identification .separador {
	background-color: #CCC;
	margin-top:0px;
	height: 101px;
	width: 2px;
	float:left;
	position:relative;
	top:5px;
}

#navegation {
	padding:5px 5px;  
	width:960px; 
	margin:0 auto; 
	background-color:#CCC;
	height:auto;
	font-size:16px;
}

#navegation .bloque {
	display:inline-block;
	position:relative;
	top:-10px;
	width: 164px;
	padding-left:15px;
}

#footer {
	background-color: #000;
	height: 140px;
	width:970px;
	float:left;
	margin: 0 264px;
}

.separador2 {
	display:inline-block;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
	height: 34px;
	width:2px;
	margin-top:5px;
}
#redesSociales {
	float: right;
	height: 100%;
	width: 350px;
	list-style: none;
	margin-top: 0px;
}
#redesSociales a {
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	padding:5px;
}
#redesSociales a img {
	margin-bottom: -10px;
	padding-top: 0px;
}
#redesSociales a:hover {
	font-size: 14px;
	color:#090;
	text-decoration: none;
	padding:5px;
}
#loginArea #autenticacion {
	float: right;
	width: 300px;
	height: 25px;
	margin-right:90px;
}

.bloque .irA a {
	color: #FFF;
	text-decoration: none;
	float: right;
	margin-left: 60px;
}

#contenido {
	display:inline-block;
	background-color:#E2E2E2;
	width: 100%;
}
#contenido #commentForm {
	padding-left: 50px;
	width:90%;
	min-height:500px;
	overflow:auto;
}

#escrito {
	padding:0px 0px 0px 20px;text-align:justify;
	display:inline-block;
	width:500px;
}

#escrito #marcomapa {
	background-color: #666;
	min-height: 350px;
	width: 425px;
	margin: 20px;
	float: right;
	padding: 5px;
}
#contenido #escrito #reservaSist {
	background-color:#333; 
	width:900px; 
	min-height:360px; 
	padding:10px; 
    color:#FFF; 
    border:20px;
    -webkit-border-radius: 20px 0px 20px 0px;
    border-radius: 20px 0px 20px 0px;
    margin-top:10px
}
#publicidad1 {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
#izqInfo {
	height: 80px;
	float:left; 
	padding:20px; 
	margin-top:10px
}
#derInfo {
	width: 80%; 
	height: 50px; 
	float:right;
}

#navegation .bloque .irA a {
	text-shadow: 1px 1px 3px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

#navegation .bloque a {
	text-decoration:none;
}

#reservaSist #interno .bloqueCancha {
        float:left; 
        padding: 0px 25px 10px 10px;
}

#content #navegation .bloque h4 {
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#content #navegation #contenido #escrito #reservaSist {
	background-color: #000;
	background-image: url(fondo.png);        
}

#accordion .ui-accordion-content {
background-color: #000;
background-image: url(fondo.png);
}

#datepicker .ui-widget-content{
background-color:#000
}

.ui-datepicker{
       background-color:#000
}
h1 {
  font-size: 30px;
}
