<p>La Cantera Futsal te da la Bienvenida <%= @resource.nombre %> <%= @resource.apellido %>!</p>

<p>Tu puedes confirmar tu cuenta a tráves del enlace que verás a continuación:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
